{% extends 'base.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block body %}
    <h1>Create new Comment</h1>

    {{ include('admin/comment/_form.html.twig') }}

    <a href="{{ path('admin_comment_index') }}">back to list</a>
{% endblock %}
