<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block description %}En iyi online tatil{% endblock %}">
        <meta name="keywords" content="{% block keywords %}tatil,hotels,beach{% endblock %}">
        <meta name="author" content="Yuksel Celik">

        {% block head %}{% include('home/head.html.twig') %}{% endblock %}
        {% block stylesheet %}{% endblock %}
    </head>
    <body>

        {% block header %} {% include('home/header.html.twig') %} {% endblock %}
        {% block sidebar %}    {% endblock %}
        {% block slider %}   {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %} {% include('home/footer.html.twig') %} {% endblock %}
        {% block javascripts %} {% include('home/javascript.html.twig') %}{% endblock %}
    </body>
</html>
